<div class="container">
  <h1>List of Cocktails</h1>

  <ul>
  <% @cocktails.each do |ct| %>
    <li><%= link_to ct.name, cocktail_path(ct)%></li>
  <%end%>
  </ul>
<br>
<br>
<%= link_to "New cocktail", new_cocktail_path, class: "btn btn-primary" %>

</div>
